@import "tailwindcss";

@media print {
  body {
    background-color: white;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  .print-container {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
  .print-break-inside-avoid {
    break-inside: avoid;
  }
}
